@mixin flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin atag {
    color: #fff;
    border: 1px solid white;
    text-decoration: none;
    padding: 1.2rem 3rem;
    background-color: #000;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s ease-out;
}

@mixin ahover {
    color: #000;
    background-color: #fff;
    border: black;
}