@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "LarishNeue";
    src: url(../font/LarishNeueSemibold.woff);
}

@import "_general.scss";
@import "_variables.scss";
@import "_mixin.scss";


// Assets:
// font-family: 'Work Sans', sans-serif;
// font-family: "LarishNeue";
// Farbe: #fff / #000

/*-Header-*/

header{
    height: 100vh;
    background-color: $black;
    padding: $side-space;
    .section1{
        .line{
            width: 100%;
            height: 20rem;
            background-color: black;
        }
        h1{
            font-weight: 300;
            margin: 4rem 0 0 0;
            color: $white;
            text-align: center;
        }
        .callout{
            @include flex-FD-C-JC-C-AI-C();
            margin-bottom: 10rem;
                h2:nth-of-type(1){
                    color: $white;
                }
                h2:nth-of-type(2){
                    margin-top: -2%;
                    -webkit-text-stroke: 2px white;
                }
                p{
                    color: $white;
                }
        } 
    }
    .section-2{
        @include flex-JC-SB-AI-C();
        height: 20%;
        a{
            @include atag();
        }
        a:hover{
            @include ahover();
        }
        .logo{
            background-color: $black;
            height: 70px;
            width: 70px;
        }
        img{
            width: 100px;
            height: 100px;
        }
    }
}

/*-Main-*/

/*-Part-1/2-*/

.main-section{
    height: 100%;
    background-color: $black;
        article:nth-of-type(1){
            width: 80%;
            height: 100vh;
            padding: $side-space;
            color: $white;
        }
        article:nth-of-type(2){
            background-color: $black;
            height: 100vh;
            padding: 0 0 0 4rem;
            display: flex;
            color: $white;
            aside:nth-of-type(1){
                width: 50%;
                @include flex-FD-C-JC-C();
                h2, p{
                margin: 1rem 0;
                }
        }
            aside:nth-of-type(2){
                width: 50%;
                img{
                    width: 100%;
                    height: 80%;
                    object-fit: contain;
                    object-position: right;
                }
        }        
    }
}

/*-Part3/4-*/

.stuck{
    height: 100%;
    position: relative;
    .stuck-value1{
        height: 100vh;
        width: 27%;
        margin: 0 auto;
        @include flex-FD-C-JC-C();
        color: $black;
        h2{
            line-height: 5rem;
        }
        p{
            line-height: 2rem;
            width: 85%;
            margin-top: 3%;
        }
    }
    .stuck-value2{
        height: 100vh;
        width: 27%;
        margin: 0 auto;
        @include flex-AI-C();
        color: $black;
        p{
            line-height: 2rem;
        }
    }
    img{
        position: absolute;
    }
    .act1{
        width: 325px;
        height: 200px;
        top: -6rem;
        right: 10rem;
    }
    .act2{
        width: 310px;
        height: 200px;
        top: 10rem;
        left: 3rem;
    }
    .act3{
        width: 310px;
        height: 200px;
        top: 35rem;
        right: 0rem;
    }
    .act4{
        width: 325px;
        height: 200px;
        top: 50rem;
        left: 30rem;
    }
    .act5{
        width: 310px;
        height: 200px;
        bottom: 45rem;
        right: 26rem;
    }
    .act6{
        width: 310px;
        height: 200px;
        bottom: 25rem;
        left: 0;
    }
    .act7{
        width: 450px;
        height: 250px;
        bottom: -3rem;
        right: 30rem;
        z-index: 2;
    }
}

/*--Part-5--*/ 

.goldenBear{
    position: relative;
    height: 150vh;
    background-color: $black;
    color: $white;
    padding: $side-space;
    p:first-child{
        padding: 10% 0 2% 0;
    }
    .titles{
        display: flex;
        aside:nth-of-type(1){
            width: 50%;
            h2{
                padding-right: 50%;
                line-height: 5.5rem;
            }
        }
        aside:nth-of-type(2){
            width: 50%;
            h3{
                padding: 0 6% 3% 0;
            }
        }
    }
    img{
        position: absolute;
    }
    .bigBearPic{
        width: 1050px;
        height: 900px;
        left: 4rem;
        top: 45rem;
        z-index: 1;
    }
    .littleBearPic{
        width: 550px;
        height: 650px;
        right: 20rem;
        bottom: -8rem;
        z-index: 2;
    }
}

/*-Part-6-*/

.poppyBear{
    overflow: hidden;
    position: relative;
    height: 220vh;
    background-color: $white;
    color: $black;
    padding: $side-space;
    p:first-child{
        padding: 30% 0 2% 0;
    }
    .headlines{
        display: flex;
        aside:nth-of-type(1){
            width: 50%;
            h2{
                padding-right: 50%;
                line-height: 5.5rem;
            }
        }
        aside:nth-of-type(2){
            width: 50%;
            h3{
                padding: 0 6% 3% 0;
            }
        }
    }
    img{
        position: absolute;
    }
    .poster{
        width: 550px;
        height: 700px;
        left: 20rem;
        bottom: 12rem;
        z-index: 1;
    }
    .rosebear{
        width: 950px;
        height: 950px;
        right: 9rem;
        bottom: 5rem;
    }
    .circle{
        width: 620px;
        height: 620px;
        top: -11rem;
        right: -11rem;
        animation: spin 10s linear infinite forwards;
    }
}

@keyframes spin {
    100%{
        transform: rotate(1turn);
    }
    
}

/*--Footer---*/

/*--Part-1/2/3---*/

footer{
    height: 100vh;
    background-color: $black;
    padding: $side-space;
    overflow: hidden;
    .juneSection{
        position: relative;
        height: 70vh;
        background-color: $black;
        .juneArticle{
            color: $white;
            width: 35%;
            p{
            padding: 20% 0 5% 0;
            }
            h3{
            margin-bottom: 3rem;
            }
            a{
                @include atag();
            }
            a:hover{
                @include ahover();
            }
        }
        .banner{
            position: absolute;
            background-color: $white;
            font-family: "LarishNeue";
            top: 15rem;
            right: -140rem;
            transform: rotate(40deg); 
            h5{
                white-space: nowrap;
                color: $black;
                animation: banner 10s linear 0s infinite forwards;
                transform: rotate(40deg);
                width: 40%;
                span{
                    color: $white;
                    -webkit-text-stroke: 2px $black;
                }
            }
            @keyframes banner {
                0%, 100%{
                    transform: translateX(-20%);
                }
                20%{
                    transform: translateX(0%);
                }
                40%{
                    transform: translateX(-30%);
                }
                60%{
                    transform: translateX(-60%);
                }
                80%{
                    transform: translateX(-90%);
                }
            }
        }
    }
    .dice{
        display: flex;
        justify-content: space-between;
        .footer-section{
            color: $white;
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            article img{
                width: 25px;
                height: 25px;
                margin-right: 0.5rem;
            }
            p{
                margin: 2rem 0 1rem 0;
            }
        }
        .footer-last{
            margin: 0 10% 5% 0;
            display: flex;
            align-items: flex-end;
            .sfdw{
                width: 140px;
                height: 80px;
            }
            .cross{
                width: 120px;
                height: 40px;
                margin-left: 5%;
            }
        }
    }
    
}

// Bonus Layout für Tablet

@media screen and (max-width: 768px){

    header{
        .section1{
            .line{
                height: 13rem;
            }
        }
    }
    .main-section{
        article:nth-of-type(1){
            display: flex;
            align-items: center;
            h5{
                font-size: 4rem;
            }
        }
        article:nth-of-type(2){
            h5{
                font-size: 4rem;
            }
        }
    }
    .stuck{
        .stuck-value1{
            width: 100%;
            align-items: center;
            h2{
                text-align: center;
            }
            
        }

        .stuck-value2{
            width: 100%;
            text-align: center;
            p{
                padding: $side-space;
            }
        }
        .act1{
            top: 1rem;
            right: 4rem;
        }

        .act2{
            left: 4rem;
            top: 3rem;
        }

        .act3{
            right: 4rem;
            top: 43rem;
        }

        .act4{
            left: 4rem;
            top: 39rem;
        }

        .act5{
            right: 4rem;
            top: 56rem;
        }

        .act6{
            left: 4rem;
            bottom: 35rem;
        }

        .act7{
            right: 10rem;
            bottom: 3rem;
        }
    }
    
    .goldenBear{
        .titles{
            display: flex;
            flex-direction: column;
            aside:nth-of-type(1){
                width: 100%;
                h2{
                    padding-right: 0;
                }
            }
            aside:nth-of-type(2){
                width: 100%;
                h3{
                    padding: 3% 6% 3% 0;
                }
                
            }
        }
    }
    .goldenBear{
        .bigBearPic{
            width: 450px;
            height: 600px;
            left: 4rem;
            top: 50rem;
        }
        .littleBearPic{
            width: 300px;
            height: 400px;
            right: 3rem;
            bottom:-2rem;   
        }
    }
    .poppyBear{
        height: 175vh;
        .headlines{
            display: flex;
            flex-direction: column;
            aside:nth-of-type(1){
                width: 100%;
                h2{
                    padding-right: 0;
                }
            }
            aside:nth-of-type(2){
                width: 100%;
                h3{
                    padding: 3% 6% 3% 0;
                }
            }
            .circle{
                width: 350px;
                height: 350px;
                top: -8rem;
                right: -8rem;
            }
            .poster{
                width: 210px;
                height: 300px;
                left: 5rem;
                bottom: 14rem;
            }
            .rosebear{
                width: 500px;
                height: 500px;
                right: 4rem;
                bottom: 8rem;
            }
        }
    }
    footer{
        .juneSection{
            .juneArticle{
                width: 100%;
                p{
                    padding: 30% 0 5% 0;
                }
            }
            .banner{
                border-top: 1px solid $black;
                top: 0;
                transform: rotate(0deg);
            }
        }
        .dice{
            .footer-section{
                margin-top: 15%;
                p{
                    margin: 1rem 0 0.5rem 0;
                }
            }
        }
        .footer-last{
            margin: 0 10% 0% 0;
        }
    }
}