@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "LarishNeue";
  src: url(../font/LarishNeueSemibold.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h2, h3, h5 {
  font-family: "LarishNeue";
}

h1, p {
  font-family: "Work Sans", sans-serif;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 2.37rem;
}

h5 {
  font-size: 8rem;
}

/*-Header-*/
header {
  height: 100vh;
  background-color: #000;
  padding: 0 4rem;
}
header .section1 .line {
  width: 100%;
  height: 20rem;
  background-color: black;
}
header .section1 h1 {
  font-weight: 300;
  margin: 4rem 0 0 0;
  color: #fff;
  text-align: center;
}
header .section1 .callout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
header .section1 .callout h2:nth-of-type(1) {
  color: #fff;
}
header .section1 .callout h2:nth-of-type(2) {
  margin-top: -2%;
  -webkit-text-stroke: 2px white;
}
header .section1 .callout p {
  color: #fff;
}
header .section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}
header .section-2 a {
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 1.2rem 3rem;
  background-color: #000;
  font-family: "Work Sans", sans-serif;
  transition: 0.5s ease-out;
}
header .section-2 a:hover {
  color: #000;
  background-color: #fff;
  border: #000;
}
header .section-2 .logo {
  background-color: #000;
  height: 70px;
  width: 70px;
}
header .section-2 img {
  width: 100px;
  height: 100px;
}

/*-Main-*/
/*-Part-1/2-*/
.main-section {
  height: 100%;
  background-color: #000;
}
.main-section article:nth-of-type(1) {
  width: 80%;
  height: 100vh;
  padding: 0 4rem;
  color: #fff;
}
.main-section article:nth-of-type(2) {
  background-color: #000;
  height: 100vh;
  padding: 0 0 0 4rem;
  display: flex;
  color: #fff;
}
.main-section article:nth-of-type(2) aside:nth-of-type(1) {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-section article:nth-of-type(2) aside:nth-of-type(1) h2, .main-section article:nth-of-type(2) aside:nth-of-type(1) p {
  margin: 1rem 0;
}
.main-section article:nth-of-type(2) aside:nth-of-type(2) {
  width: 50%;
}
.main-section article:nth-of-type(2) aside:nth-of-type(2) img {
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}

/*-Part3/4-*/
.stuck {
  height: 100%;
  position: relative;
}
.stuck .stuck-value1 {
  height: 100vh;
  width: 27%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}
.stuck .stuck-value1 h2 {
  line-height: 5rem;
}
.stuck .stuck-value1 p {
  line-height: 2rem;
  width: 85%;
  margin-top: 3%;
}
.stuck .stuck-value2 {
  height: 100vh;
  width: 27%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #000;
}
.stuck .stuck-value2 p {
  line-height: 2rem;
}
.stuck img {
  position: absolute;
}
.stuck .act1 {
  width: 325px;
  height: 200px;
  top: -6rem;
  right: 10rem;
}
.stuck .act2 {
  width: 310px;
  height: 200px;
  top: 10rem;
  left: 3rem;
}
.stuck .act3 {
  width: 310px;
  height: 200px;
  top: 35rem;
  right: 0rem;
}
.stuck .act4 {
  width: 325px;
  height: 200px;
  top: 50rem;
  left: 30rem;
}
.stuck .act5 {
  width: 310px;
  height: 200px;
  bottom: 45rem;
  right: 26rem;
}
.stuck .act6 {
  width: 310px;
  height: 200px;
  bottom: 25rem;
  left: 0;
}
.stuck .act7 {
  width: 450px;
  height: 250px;
  bottom: -3rem;
  right: 30rem;
  z-index: 2;
}

/*--Part-5--*/
.goldenBear {
  position: relative;
  height: 150vh;
  background-color: #000;
  color: #fff;
  padding: 0 4rem;
}
.goldenBear p:first-child {
  padding: 10% 0 2% 0;
}
.goldenBear .titles {
  display: flex;
}
.goldenBear .titles aside:nth-of-type(1) {
  width: 50%;
}
.goldenBear .titles aside:nth-of-type(1) h2 {
  padding-right: 50%;
  line-height: 5.5rem;
}
.goldenBear .titles aside:nth-of-type(2) {
  width: 50%;
}
.goldenBear .titles aside:nth-of-type(2) h3 {
  padding: 0 6% 3% 0;
}
.goldenBear img {
  position: absolute;
}
.goldenBear .bigBearPic {
  width: 1050px;
  height: 900px;
  left: 4rem;
  top: 45rem;
  z-index: 1;
}
.goldenBear .littleBearPic {
  width: 550px;
  height: 650px;
  right: 20rem;
  bottom: -8rem;
  z-index: 2;
}

/*-Part-6-*/
.poppyBear {
  overflow: hidden;
  position: relative;
  height: 220vh;
  background-color: #fff;
  color: #000;
  padding: 0 4rem;
}
.poppyBear p:first-child {
  padding: 30% 0 2% 0;
}
.poppyBear .headlines {
  display: flex;
}
.poppyBear .headlines aside:nth-of-type(1) {
  width: 50%;
}
.poppyBear .headlines aside:nth-of-type(1) h2 {
  padding-right: 50%;
  line-height: 5.5rem;
}
.poppyBear .headlines aside:nth-of-type(2) {
  width: 50%;
}
.poppyBear .headlines aside:nth-of-type(2) h3 {
  padding: 0 6% 3% 0;
}
.poppyBear img {
  position: absolute;
}
.poppyBear .poster {
  width: 550px;
  height: 700px;
  left: 20rem;
  bottom: 12rem;
  z-index: 1;
}
.poppyBear .rosebear {
  width: 950px;
  height: 950px;
  right: 9rem;
  bottom: 5rem;
}
.poppyBear .circle {
  width: 620px;
  height: 620px;
  top: -11rem;
  right: -11rem;
  -webkit-animation: spin 10s linear infinite forwards;
          animation: spin 10s linear infinite forwards;
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
/*--Footer---*/
/*--Part-1/2/3---*/
footer {
  height: 100vh;
  background-color: #000;
  padding: 0 4rem;
  overflow: hidden;
}
footer .juneSection {
  position: relative;
  height: 70vh;
  background-color: #000;
}
footer .juneSection .juneArticle {
  color: #fff;
  width: 35%;
}
footer .juneSection .juneArticle p {
  padding: 20% 0 5% 0;
}
footer .juneSection .juneArticle h3 {
  margin-bottom: 3rem;
}
footer .juneSection .juneArticle a {
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 1.2rem 3rem;
  background-color: #000;
  font-family: "Work Sans", sans-serif;
  transition: 0.5s ease-out;
}
footer .juneSection .juneArticle a:hover {
  color: #000;
  background-color: #fff;
  border: #000;
}
footer .juneSection .banner {
  position: absolute;
  background-color: #fff;
  font-family: "LarishNeue";
  top: 15rem;
  right: -140rem;
  transform: rotate(40deg);
}
footer .juneSection .banner h5 {
  white-space: nowrap;
  color: #000;
  -webkit-animation: banner 10s linear 0s infinite forwards;
          animation: banner 10s linear 0s infinite forwards;
  transform: rotate(40deg);
  width: 40%;
}
footer .juneSection .banner h5 span {
  color: #fff;
  -webkit-text-stroke: 2px #000;
}
@-webkit-keyframes banner {
  0%, 100% {
    transform: translateX(-20%);
  }
  20% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-30%);
  }
  60% {
    transform: translateX(-60%);
  }
  80% {
    transform: translateX(-90%);
  }
}
@keyframes banner {
  0%, 100% {
    transform: translateX(-20%);
  }
  20% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-30%);
  }
  60% {
    transform: translateX(-60%);
  }
  80% {
    transform: translateX(-90%);
  }
}
footer .dice {
  display: flex;
  justify-content: space-between;
}
footer .dice .footer-section {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
footer .dice .footer-section article img {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}
footer .dice .footer-section p {
  margin: 2rem 0 1rem 0;
}
footer .dice .footer-last {
  margin: 0 10% 5% 0;
  display: flex;
  align-items: flex-end;
}
footer .dice .footer-last .sfdw {
  width: 140px;
  height: 80px;
}
footer .dice .footer-last .cross {
  width: 120px;
  height: 40px;
  margin-left: 5%;
}/*# sourceMappingURL=main.css.map */